In [1]:
import requests
import urllib3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from datetime import date, datetime, timedelta
import sqlite3
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="pandas")
warnings.filterwarnings("ignore", category=pd.errors.SettingWithCopyWarning)

# Hilangkan warning SSL (karena verify=False)
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

# =======================================
# 3️⃣ Konfigurasi login & tanggal data
# =======================================
USERNAME = "pusmetbang"       # ganti dengan username BMKG Satu kamu
PASSWORD = "oprpusmetbang"    # ganti dengan password BMKG Satu kamu
#TANGGAL = str(date.today())   # otomatis ambil hari ini (format YYYY-MM-DD)
TANGGAL = "2025-02-02"        # contoh tanggal

# =======================================
# 4️⃣ Fungsi untuk ambil token
# =======================================
def ambil_token(username, password):
    url_login = "https://bmkgsatu.bmkg.go.id/db/bmkgsatu/@login"
    payload = {"username": username, "password": password}
    response = requests.post(url_login, json=payload, verify=False)

    if response.status_code == 200:
        data = response.json()
        print("Respon Login:", data)  # debug isi respon
        token = data.get("token") or data.get("access_token")
        if token:
            print("✅ Token berhasil diambil")
            return token
        else:
            raise ValueError("❌ Token tidak ditemukan di response")
    else:
        raise ValueError(f"❌ Gagal login. Status code: {response.status_code}")

# =======================================
# 5️⃣ Fungsi untuk ambil data GTS (01 - 00 esok hari)
# =======================================
def ambil_data_gts(tanggal, token):
    tgl_akhir = datetime.strptime(tanggal, "%Y-%m-%d")
    tgl_awal = tgl_akhir - timedelta(days=1)

    url = "https://bmkgsatu.bmkg.go.id/db/bmkgsatu//@search"
    params = {
        "type_name": "GTSMessage",
        "_metadata": "type_message,timestamp_data,timestamp_sent_data,station_wmo_id,sandi_gts,ttaaii,cccc,need_ftp",
        "_size": "10000",
        "type_message": "1",
        # mulai jam 01 tanggal X
        "timestamp_data__gte": f"{tgl_awal.strftime('%Y-%m-%d')}T01:00:00",
        # sampai jam 00:59 tanggal X+1
        "timestamp_data__lte": f"{tgl_akhir.strftime('%Y-%m-%d')}T00:59:59",
    }
    headers = {
        "authorization": f"Bearer {token}",
        "accept": "application/json"
    }
    response = requests.get(url, params=params, headers=headers, verify=False)

    if response.status_code == 200:
        print(f"✅ Data berhasil diambil untuk periode {params['timestamp_data__gte']} s/d {params['timestamp_data__lte']}")
        return response.json()
    else:
        raise ValueError(f"❌ Gagal mengambil data: {response.status_code} - {response.text}")


# =======================================
# 6️⃣ Jalankan proses
# =======================================
try:
    token = ambil_token(USERNAME, PASSWORD)
    data = ambil_data_gts(TANGGAL, token)

    # pastikan ada data
    if "items" not in data:
        raise ValueError("❌ Data kosong atau format tidak sesuai")

    # ambil hanya kolom yang diperlukan
    df = pd.DataFrame(data["items"])[[
        "timestamp_data",
        "timestamp_sent_data",
        "station_wmo_id",
        "ttaaii",
        "cccc",
        "sandi_gts"
    ]]

    print("✅ Data berhasil dimuat ke DataFrame")
    print(df.head())  # tampilkan 5 baris pertama

except Exception as e:
    print(e)

Respon Login: {'exp': '2025-11-04T04:18:51.035431', 'token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NjIwNTcxMzEsImV4cCI6MTc2MjIyOTkzMSwiaWQiOiJwdXNtZXRiYW5nIiwic3ViIjoicHVzbWV0YmFuZyJ9.4dj9Ifx14Kz5uAZ1ZbQABbaflta5bdB1EPA64HqTpYc'}
✅ Token berhasil diambil
✅ Data berhasil diambil untuk periode 2025-02-01T01:00:00 s/d 2025-02-02T00:59:59
✅ Data berhasil dimuat ke DataFrame
        timestamp_data         timestamp_sent_data  station_wmo_id  ttaaii  \
0  2025-02-01T09:00:00  2025-02-01T09:02:55.039307           97748  SIID64
1  2025-02-01T06:00:00  2025-02-01T09:06:50.387486           97748  SMID54
2  2025-02-02T00:00:00  2025-02-01T23:59:34.717613           97748  SMID54
3  2025-02-01T18:00:00  2025-02-01T18:00:01.825436           97748  SMID54
4  2025-02-01T06:00:00  2025-02-01T05:59:47.949375           97748  SMID54

   cccc                                          sandi_gts
0  WAPB  SIID64 WAPB 010900\nAAXX 01094 \n97748 31440 7...
1  WAPB  SMID54 WAPB 010600\nAAXX 01064 \n97748 01440 7...
2  WAPB  SMID54 WAPB 020000\nAAXX 02004 \n97748 12457 7...
3  WAPB  SMID54 WAPB 011800\nAAXX 01184 \n97748 31456 8...
4  WAPB  SMID54 WAPB 010600\nAAXX 01064 \n97748 11440 7...

In [2]:
df['timestamp_data'] = pd.to_datetime(df['timestamp_data'], errors='coerce')
df['timestamp_sent_data'] = pd.to_datetime(df['timestamp_sent_data'], errors='coerce')

# Format ulang supaya semua ada microseconds
df['timestamp_data'] = df['timestamp_data'].dt.strftime("%Y-%m-%dT%H:%M:%S")
df['timestamp_sent_data'] = df['timestamp_sent_data'].dt.strftime("%Y-%m-%dT%H:%M:%S")

# Urutkan agar timestamp_sent_data terbaru berada di atas
data_sorted = df.sort_values(['station_wmo_id','timestamp_data', 'timestamp_sent_data'], ascending=[True, True, False])

# Ambil satu data per timestamp_data, yang paling baru dikirim
data = data_sorted.drop_duplicates(subset=['station_wmo_id', 'timestamp_data'], keep='first')

In [3]:
data['timestamp_data'] = pd.to_datetime(data['timestamp_data'], errors='coerce')
data['tanggal'] = data['timestamp_data'].dt.day
data['jam'] = data['timestamp_data'].dt.hour

In [4]:
import re

def ambil_aaxx_beserta_isi(teks):
    """
    Ambil blok mulai dari AAXX (atau variasinya seperti AXX, AAAXX, AAX)
    hingga sebelum kelompok 333 (atau akhir pesan).
    Mengembalikan:
        - seksi01: potongan teks
        - false_aaxx: deskripsi kesalahan jika format AAXX tidak standar
    """
    if not isinstance(teks, str) or teks.strip() == "":
        return None, "teks kosong"

    # 1️⃣ Cari versi standar 'AAXX'
    match = re.search(r'(AAXX\s.*?\b333\b)', teks, re.DOTALL)
    if match:
        return match.group(1).strip(), ""  # tidak ada kesalahan

    # 2️⃣ Jika tidak ada, coba versi yang mirip tapi salah ketik (AXX, AAAXX, AAX)
    match_salah = re.search(r'\b(A{0,3}X{2,3})\s.*?\b333\b', teks, re.DOTALL)
    if match_salah:
        token = match_salah.group(1)
        if token != "AAXX":  # kalau bukan persis AAXX, berarti salah
            return match_salah.group(0).strip(), "Tanda pengenal AAXX tidak valid"
        else:
            return match_salah.group(0).strip(), ""

    # 3️⃣ Kalau tidak ditemukan sama sekali
    return None, "Tanda pengenal AAXX pada seksi 0 tidak valid"

In [5]:
data[['seksi01', 'false_aaxx']] = data['sandi_gts'].apply(
    lambda x: pd.Series(ambil_aaxx_beserta_isi(x))
)

In [6]:
data['seksi01'] = (
    data['seksi01']
    .str.replace(r'CCA', '', regex=True)             # hapus semua CCA
    .str.replace(r'CCB', '', regex=True)             # hapus semua CCA
    .str.replace(r'\s+', ' ', regex=True)            # rapikan spasi
    .str.strip()                                     # hilangkan spasi awal/akhir
)

data['seksi0'] = pd.DataFrame(data.seksi01.astype(str).apply(lambda x: x[0:16] ))

import re
import pandas as pd

def ambil_seksi1_dengan_toleransi(row):
    teks = str(row.get('seksi01', '')).strip()
    if not teks:
        return None

    # cari semua kandidat 5 digit angka (kemungkinan wmoid)
    kandidat_wmoid = re.findall(r'\b\d{5}\b', teks)

    # jika ada kandidat
    if kandidat_wmoid:
        for wmoid in kandidat_wmoid:
            # hanya potong setelah wmoid yang valid (96/97/99)
            if wmoid.startswith(('96', '97', '99')):
                # ambil bagian setelah wmoid valid pertama
                bagian_setelah = teks.split(wmoid, 1)[-1].strip()
                return bagian_setelah

        # kalau tidak ada yang valid, tetap kembalikan bagian setelah kandidat pertama (fallback)
        wmoid_pertama = kandidat_wmoid[0]
        bagian_setelah = teks.split(wmoid_pertama, 1)[-1].strip()
        return bagian_setelah

    # kalau tidak ada angka 5 digit sama sekali
    return None

# buat kolom seksi1
data['seksi1'] = data.apply(ambil_seksi1_dengan_toleransi, axis=1)

In [7]:

def ambil_yyggi(seksi0):
    """
    Ambil YYGGi dari potongan seksi0 (contoh: 'AAXX 14034')
    Return tuple (yy, gg, i)
    """
    if not isinstance(seksi0, str):
        return None, None, None

    match = re.search(r'A{1,3}X{2,3}\s+(\d{2})(\d{2})(\d)', seksi0)
    if match:
        yy = int(match.group(1))
        gg = int(match.group(2))
        i = int(match.group(3))
        return yy, gg, i
    return None, None, None



def cek_yyggi_terhadap_timestamp(yy, gg, tanggal, jam):
    false_tanggal = ""
    false_jam = ""

    try:
        # kalau 'tanggal' adalah int (misal 30), ubah jadi datetime dummy
        if isinstance(tanggal, (int, float)):
            tanggal_dt = datetime(2000, 1, int(tanggal)).date()
        else:
            tanggal_dt = datetime.fromisoformat(str(tanggal)).date()

        # kalau jam adalah int (misal 6)
        if isinstance(jam, (int, float)):
            jam_hour = int(jam)
        else:
            jam_hour = int(str(jam).split(":")[0])

    except Exception:
        return "format timestamp tidak valid", "format timestamp tidak valid"

    # 1️⃣ Cek tanggal
    if yy != tanggal_dt.day:
        false_tanggal = "Sandi waktu (tanggal) pada seksi 0 tidak valid"

    # 2️⃣ Cek jam
    if gg != jam_hour:
        false_jam = "Sandi waktu (jam) pada seksi 0 tidak valid"

    return false_tanggal, false_jam


def validasi_seksi0(row):
    yy, gg, i = ambil_yyggi(row['seksi0'])

    # pastikan hasil parsing jadi int kalau valid
    try:
        yy = int(float(yy)) if yy is not None and not pd.isna(yy) else None
    except:
        yy = None
    try:
        gg = int(float(gg)) if gg is not None and not pd.isna(gg) else None
    except:
        gg = None
    try:
        i = int(float(i)) if i is not None and not pd.isna(i) else None
    except:
        i = None

    false_tanggal, false_jam = cek_yyggi_terhadap_timestamp(
        yy, gg, row['tanggal'], row['jam']
    )

    return pd.Series({
        'yy': yy,
        'gg': gg,
        'i': i,
        'false_tanggal': false_tanggal,
        'false_jam': false_jam
    })


# pemanggilan tetap sama
data[['yy', 'gg', 'i', 'false_tanggal', 'false_jam']] = data.apply(validasi_seksi0, axis=1)

In [8]:
import re

def cek_false_waktu_format(seksi0):
    """
    Cek apakah sandi waktu pada seksi0 memiliki kesalahan format:
    - Mengandung huruf (misal 'Z')
    - Jumlah digit tidak sama dengan 5
    Return: pesan kesalahan atau None jika valid
    """
    if not isinstance(seksi0, str):
        return "Format seksi0 tidak valid"

    # cari bagian setelah AAXX
    match = re.search(r'A{1,3}X{2,3}\s+([A-Za-z0-9]+)', seksi0)
    if not match:
        return "Sandi waktu tidak ditemukan"

    kode_waktu = match.group(1).strip()

    # 1️⃣ Cek huruf (contoh: 31094Z)
    if re.search(r'[A-Za-z]', kode_waktu):
        return "Sandi waktu mengandung huruf (contoh: Z)"

    # 2️⃣ Cek panjang (harus tepat 5 digit angka)
    if not kode_waktu.isdigit() or len(kode_waktu) != 5:
        return f"Jumlah digit sandi waktu tidak valid (ditemukan {len(kode_waktu)} karakter)"

    # valid
    return None


# Tambahkan kolom baru ke dataframe
data['false_waktu'] = data['seksi0'].apply(cek_false_waktu_format)

In [9]:
# def ambil_yyggi(seksi0):
#     """
#     Ambil YYGGi dari potongan seksi0 (contoh: 'AAXX 14034')
#     Return tuple (yy, gg, i, error_flag)
#     """
#     if not isinstance(seksi0, str):
#         return None, None, None, "Format seksi0 tidak valid"

#     # Tangkap semua kemungkinan (termasuk jika huruf muncul)
#     match = re.search(r'A{1,3}X{2,3}\s+([0-9]{2})([0-9]{2})(\w)', seksi0)
#     if match:
#         yy = match.group(1)
#         gg = match.group(2)
#         i_raw = match.group(3)

#         # kalau karakter ke-5 bukan digit, berarti format salah (contoh: 31094Z)
#         if not i_raw.isdigit():
#             return int(yy), int(gg), None, f"Format sandi waktu salah (karakter kelima '{i_raw}' bukan angka)"

#         return int(yy), int(gg), int(i_raw), None
#     else:
#         return None, None, None, "Sandi waktu (YYGGi) tidak ditemukan"


# def cek_false_waktu(yy, gg, tanggal, jam, error_awal=None):
#     """
#     Gabungan validasi sandi waktu:
#     - Salah format (termasuk huruf Z, dsb.)
#     - Mismatch tanggal
#     - Mismatch jam
#     Hasil: satu string penjelasan (None jika valid)
#     """
#     if error_awal:
#         return error_awal  # langsung kembalikan error dari parsing awal

#     errors = []

#     try:
#         # parsing tanggal dan jam
#         tanggal_dt = datetime.fromisoformat(str(tanggal)).date()
#         jam_hour = int(str(jam).split(":")[0])
#     except Exception:
#         return "Format tanggal/jam tidak valid"

#     if yy is None or gg is None:
#         return "Sandi waktu tidak lengkap"

#     # cek tanggal
#     if yy != tanggal_dt.day:
#         errors.append("Tanggal pada sandi waktu tidak sesuai")

#     # cek jam
#     if gg != jam_hour:
#         errors.append("Jam pada sandi waktu tidak sesuai")

#     # gabungkan semua pesan kesalahan
#     return "; ".join(errors) if errors else None


# def validasi_seksi0(row):
    
#     yy, gg, i, parsing_error = ambil_yyggi(row['seksi0'])
    
#     # pastikan hasil parsing jadi int kalau valid
#     # try:
#     #     yy = int(float(yy)) if yy is not None and not pd.isna(yy) else None
#     # except:
#     #     yy = None
#     # try:
#     #     gg = int(float(gg)) if gg is not None and not pd.isna(gg) else None
#     # except:
#     #     gg = None
#     # try:
#     #     i = int(float(i)) if i is not None and not pd.isna(i) else None
#     # except:
#     #     i = None
#     false_waktu = cek_false_waktu(yy, gg, row['tanggal'], row['jam'], parsing_error)

#     yy = int(yy) if yy is not None and not pd.isna(yy) else None
#     gg = int(gg) if gg is not None and not pd.isna(gg) else None
#     i  = int(i)  if i  is not None and not pd.isna(i)  else None



#     return pd.Series({
#         'yy': yy,
#         'gg': gg,
#         'i': i,
#         'false_waktu': false_waktu
#     })


# # === Pemanggilan utama ===
# data[['yy', 'gg', 'i', 'false_waktu']] = data.apply(validasi_seksi0, axis=1)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2466 entries, 1581 to 1063
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp_data       2466 non-null   datetime64[ns]
 1   timestamp_sent_data  2430 non-null   object
 2   station_wmo_id       2466 non-null   int64
 3   ttaaii               2466 non-null   object
 4   cccc                 2466 non-null   object
 5   sandi_gts            2466 non-null   object
 6   tanggal              2466 non-null   int32
 7   jam                  2466 non-null   int32
 8   seksi01              2466 non-null   object
 9   false_aaxx           2466 non-null   object
 10  seksi0               2466 non-null   object
 11  seksi1               2466 non-null   object
 12  yy                   2466 non-null   int64
 13  gg                   2466 non-null   int64
 14  i                    2466 non-null   int64
 15  false_tanggal        2466 non-null   object
 16  false_jam            2466 non-null   object
 17  false_waktu          8 non-null      object
dtypes: datetime64[ns](1), int32(2), int64(4), object(11)
memory usage: 346.8+ KB

In [11]:
data

,timestamp_data,timestamp_sent_data,station_wmo_id,ttaaii,cccc,sandi_gts,tanggal,jam,seksi01,false_aaxx,seksi0,seksi1,yy,gg,i,false_tanggal,false_jam,false_waktu
1581,2025-02-01 01:00:00,NaN,90000,SNID02,WIIX,SNID02 WIIX 010100\nAAXX 01014\n97014 41458 80...,1,1,AAXX 01014 97014 41458 80402 10269 20247 30001...,,AAXX 01014 97014,41458 80402 10269 20247 30001 40121 71422 8587...,1,1,4,,,None
1573,2025-02-01 02:00:00,NaN,90000,SNID02,WIIX,SNID02 WIIX 010200 CCB\nAAXX 01024\n97260 4245...,1,2,AAXX 01024 97260 42457 73210 10293 20256 30059...,,AAXX 01024 97260,42457 73210 10293 20256 30059 40063 84111 333,1,2,4,,,None
1552,2025-02-01 03:00:00,NaN,90000,SIID22,WIIX,SIID22 WIIX 010300 RRA\nAAXX 01034\n97900 2145...,1,3,AAXX 01034 97900 21459 72511 10264 20256 30019...,,AAXX 01034 97900,21459 72511 10264 20256 30019 40047 58017 7219...,1,3,4,,,None
1616,2025-02-01 04:00:00,NaN,90000,SNID02,WIIX,SNID02 WIIX 010400\nAAXX 01044\n97014 42459 83...,1,4,AAXX 01044 97014 42459 83503 10280 20250 39984...,,AAXX 01044 97014,42459 83503 10280 20250 39984 40104 84271 333,1,4,4,,,None
1555,2025-02-01 05:00:00,NaN,90000,SNID02,WIIX,SNID02 WIIX 010500\nAAXX 01053\n97120 42462 70...,1,5,AAXX 01053 97120 42462 70304 10314 20247 30040...,,AAXX 01053 97120,42462 70304 10314 20247 30040 40075 82231 333,1,5,3,,,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,2025-02-01 20:00:00,2025-02-01T20:54:21,97980,SNID52,WAKK,SNID52 WAKK 012000\nAAXX 01204 \n97980 42458 6...,1,20,AAXX 01204 97980 42458 63208 10260 20246 30031...,,AAXX 01204 97980,42458 63208 10260 20246 30031 40035 84841 333,1,20,4,,,None
1062,2025-02-01 21:00:00,2025-02-01T21:01:04,97980,SIID65,WAKK,SIID65 WAKK 012100\nAAXX 01214\n97980 32460 6...,1,21,AAXX 01214 97980 32460 63204 10260 20246 30039...,,AAXX 01214 97980,32460 63204 10260 20246 30039 40043 52015 8484...,1,21,4,,,None
1065,2025-02-01 22:00:00,2025-02-01T21:55:58,97980,SNID52,WAKK,SNID52 WAKK 012200\nAAXX 01224 \n97980 42460 6...,1,22,AAXX 01224 97980 42460 63306 10268 20249 30043...,,AAXX 01224 97980,42460 63306 10268 20249 30043 40047 84841 333,1,22,4,,,None
1059,2025-02-01 23:00:00,2025-02-01T23:04:20,97980,SNID52,WAKK,SNID52 WAKK 012300\nAAXX 01234 \n97980 42460 5...,1,23,AAXX 01234 97980 42460 53107 10283 20251 30050...,,AAXX 01234 97980,42460 53107 10283 20251 30050 40054 84142 333,1,23,4,,,None
1063,2025-02-02 00:00:00,2025-02-01T23:59:29,97980,SMID55,WAKK,SMID55 WAKK 020000\nAAXX 02004\n97980 12460 6...,2,0,AAXX 02004 97980 12460 63010 10289 20255 30048...,,AAXX 02004 97980,12460 63010 10289 20255 30048 40052 52009 6990...,2,0,4,,,None

In [12]:
# def validasi_wmoid(row):
#     teks = str(row['seksi0'])
#     station_id = str(row['station_wmo_id'])

#     # cari pola IIiii (5 digit) setelah YYGGi
#     match = re.search(r'A{1,3}X{2,3}\s*\d{5}\s*(\d{5})', teks)
#     if match:
#         ii_iii = match.group(1)
#         if ii_iii == station_id:
#             return ""  # ✅ valid
#         else:
#             return "Nomor blok dan stasiun di seksi 0 tidak valid"
#     else:
#         return "Nomor blok dan stasiun di seksi 0 tidak valid"

# # buat kolom baru
# data['false_wmoid'] = data.apply(validasi_wmoid, axis=1)

In [14]:
def validasi_wmoid(row):
    teks = str(row['seksi0'])
    station_id = str(row['station_wmo_id'])

    # cari pola IIiii setelah YYGGi (dengan opsional huruf seperti Z)
    match = re.search(r'A{1,3}X{2,3}\s*\d{5}\w?\s+(\d{5})', teks)
    if match:
        ii_iii = match.group(1)
        if ii_iii == station_id:
            return ""  # ✅ valid
        else:
            return "Nomor blok dan stasiun di seksi 0 tidak valid"
    else:
        return "Nomor blok dan stasiun di seksi 0 tidak valid"
    
data['false_wmoid'] = data.apply(validasi_wmoid, axis=1)

In [15]:
data

,timestamp_data,timestamp_sent_data,station_wmo_id,ttaaii,cccc,sandi_gts,tanggal,jam,seksi01,false_aaxx,seksi0,seksi1,yy,gg,i,false_tanggal,false_jam,false_waktu,false_wmoid
1581,2025-02-01 01:00:00,NaN,90000,SNID02,WIIX,SNID02 WIIX 010100\nAAXX 01014\n97014 41458 80...,1,1,AAXX 01014 97014 41458 80402 10269 20247 30001...,,AAXX 01014 97014,41458 80402 10269 20247 30001 40121 71422 8587...,1,1,4,,,None,Nomor blok dan stasiun di seksi 0 tidak valid
1573,2025-02-01 02:00:00,NaN,90000,SNID02,WIIX,SNID02 WIIX 010200 CCB\nAAXX 01024\n97260 4245...,1,2,AAXX 01024 97260 42457 73210 10293 20256 30059...,,AAXX 01024 97260,42457 73210 10293 20256 30059 40063 84111 333,1,2,4,,,None,Nomor blok dan stasiun di seksi 0 tidak valid
1552,2025-02-01 03:00:00,NaN,90000,SIID22,WIIX,SIID22 WIIX 010300 RRA\nAAXX 01034\n97900 2145...,1,3,AAXX 01034 97900 21459 72511 10264 20256 30019...,,AAXX 01034 97900,21459 72511 10264 20256 30019 40047 58017 7219...,1,3,4,,,None,Nomor blok dan stasiun di seksi 0 tidak valid
1616,2025-02-01 04:00:00,NaN,90000,SNID02,WIIX,SNID02 WIIX 010400\nAAXX 01044\n97014 42459 83...,1,4,AAXX 01044 97014 42459 83503 10280 20250 39984...,,AAXX 01044 97014,42459 83503 10280 20250 39984 40104 84271 333,1,4,4,,,None,Nomor blok dan stasiun di seksi 0 tidak valid
1555,2025-02-01 05:00:00,NaN,90000,SNID02,WIIX,SNID02 WIIX 010500\nAAXX 01053\n97120 42462 70...,1,5,AAXX 01053 97120 42462 70304 10314 20247 30040...,,AAXX 01053 97120,42462 70304 10314 20247 30040 40075 82231 333,1,5,3,,,None,Nomor blok dan stasiun di seksi 0 tidak valid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,2025-02-01 20:00:00,2025-02-01T20:54:21,97980,SNID52,WAKK,SNID52 WAKK 012000\nAAXX 01204 \n97980 42458 6...,1,20,AAXX 01204 97980 42458 63208 10260 20246 30031...,,AAXX 01204 97980,42458 63208 10260 20246 30031 40035 84841 333,1,20,4,,,None,
1062,2025-02-01 21:00:00,2025-02-01T21:01:04,97980,SIID65,WAKK,SIID65 WAKK 012100\nAAXX 01214\n97980 32460 6...,1,21,AAXX 01214 97980 32460 63204 10260 20246 30039...,,AAXX 01214 97980,32460 63204 10260 20246 30039 40043 52015 8484...,1,21,4,,,None,
1065,2025-02-01 22:00:00,2025-02-01T21:55:58,97980,SNID52,WAKK,SNID52 WAKK 012200\nAAXX 01224 \n97980 42460 6...,1,22,AAXX 01224 97980 42460 63306 10268 20249 30043...,,AAXX 01224 97980,42460 63306 10268 20249 30043 40047 84841 333,1,22,4,,,None,
1059,2025-02-01 23:00:00,2025-02-01T23:04:20,97980,SNID52,WAKK,SNID52 WAKK 012300\nAAXX 01234 \n97980 42460 5...,1,23,AAXX 01234 97980 42460 53107 10283 20251 30050...,,AAXX 01234 97980,42460 53107 10283 20251 30050 40054 84142 333,1,23,4,,,None,
1063,2025-02-02 00:00:00,2025-02-01T23:59:29,97980,SMID55,WAKK,SMID55 WAKK 020000\nAAXX 02004\n97980 12460 6...,2,0,AAXX 02004 97980 12460 63010 10289 20255 30048...,,AAXX 02004 97980,12460 63010 10289 20255 30048 40052 52009 6990...,2,0,4,,,None,

In [14]:
#data['iihvv'] = pd.DataFrame(data.seksi1.astype(str).apply(lambda x: x[0:5] if len(x) > 20 else None))
data['iihvv'] = data['seksi1'].astype(str).apply(
    lambda x: x[0:5] if len(x) > 20 and x[0] in ['0', '1', '2', '3', '4'] else None
)

In [15]:
data[100:150]

,timestamp_data,timestamp_sent_data,station_wmo_id,ttaaii,cccc,sandi_gts,tanggal,jam,seksi01,false_aaxx,seksi0,seksi1,yy,gg,i,false_tanggal,false_jam,false_waktu,iihvv
625,2025-02-01 15:00:00,2025-02-01T15:00:02,96015,SIID71,WITC,SIID71 WITC 011500\nAAXX 01154 \n96015 21450 8...,1,15,AAXX 01154 96015 21450 80403 10264 20253 30102...,,AAXX 01154 96015,21450 80403 10264 20253 30102 40108 51027 7616...,1,15,4,,,None,21450
623,2025-02-01 18:00:00,2025-02-01T20:54:34,96015,SMID61,WITC,SMID61 WITC 011800\nAAXX 01184 \n96015 01456 7...,1,18,AAXX 01184 96015 01456 70403 10250 20242 30098...,,AAXX 01184 96015,01456 70403 10250 20242 30098 40105 58003 6996...,1,18,4,,,None,01456
622,2025-02-01 21:00:00,2025-02-01T21:00:28,96015,SIID71,WITC,SIID71 WITC 012100\nAAXX 01214 \n96015 32456 7...,1,21,AAXX 01214 96015 32456 70101 10250 20245 30087...,,AAXX 01214 96015,32456 70101 10250 20245 30087 40093 55012 8457...,1,21,4,,,None,32456
624,2025-02-02 00:00:00,2025-02-02T00:00:07,96015,SMID61,WITC,SMID61 WITC 020000\nAAXX 02004 \n96015 01430 8...,2,0,AAXX 02004 96015 01430 80302 10242 20234 30095...,,AAXX 02004 96015,01430 80302 10242 20234 30095 40101 52008 6002...,2,0,4,,,None,01430
616,2025-02-01 03:00:00,2025-02-01T03:01:22,96017,SIID71,WITT,SIID71 WITT 010300\nAAXX 01034 \n96017 32559 6...,1,3,AAXX 01034 96017 32559 61302 10262 20229 30060...,,AAXX 01034 96017,32559 61302 10262 20229 30060 40138 50014 8217...,1,3,4,,,None,32559
619,2025-02-01 06:00:00,2025-02-01T06:01:01,96017,SMID61,WITT,SMID61 WITT 010600\nAAXX 01064 \n96017 32460 6...,1,6,AAXX 01064 96017 32460 61602 10304 20236 30043...,,AAXX 01064 96017,32460 61602 10304 20236 30043 40121 58017 8327...,1,6,4,,,None,32460
617,2025-02-01 09:00:00,2025-02-01T09:00:39,96017,SIID71,WITT,SIID71 WITT 010900\nAAXX 01094 \n96017 32459 7...,1,9,AAXX 01094 96017 32459 71004 10304 20247 30018...,,AAXX 01094 96017,32459 71004 10304 20247 30018 40096 56025 8323...,1,9,4,,,None,32459
620,2025-02-01 12:00:00,2025-02-01T11:59:44,96017,SMID61,WITT,SMID61 WITT 011200\nAAXX 01124 \n96017 32459 7...,1,12,AAXX 01124 96017 32459 71501 10278 20240 30036...,,AAXX 01124 96017,32459 71501 10278 20240 30036 40113 53017 8352...,1,12,4,,,None,32459
618,2025-02-02 00:00:00,2025-02-02T00:00:41,96017,SMID61,WITT,SMID61 WITT 020000\nAAXX 02004 \n96017 32459 7...,2,0,AAXX 02004 96017 32459 71303 10236 20228 30052...,,AAXX 02004 96017,32459 71303 10236 20228 30052 40130 5//// 8357...,2,0,4,,,None,32459
812,2025-02-01 03:00:00,2025-02-01T03:06:13,96031,SIID71,WIMM,SIID71 WIMM 010300\nAAXX 01034 \n96031 21557 7...,1,3,AAXX 01034 96031 21557 73204 10284 20240 30096...,,AAXX 01034 96031,21557 73204 10284 20240 30096 40126 51018 7026...,1,3,4,,,None,21557
810,2025-02-01 06:00:00,2025-02-01T06:17:30,96031,SMID61,WIMM,SMID61 WIMM 010600 CCA\nAAXX 01064 \n96031 115...,1,6,AAXX 01064 96031 11557 83602 10308 20249 30075...,,AAXX 01064 96031,11557 83602 10308 20249 30075 40105 58021 6990...,1,6,4,,,None,11557
809,2025-02-01 09:00:00,2025-02-01T08:59:33,96031,SIID71,WIMM,SIID71 WIMM 010900\nAAXX 01094 \n96031 32457 8...,1,9,AAXX 01094 96031 32457 83602 10296 20245 30053...,,AAXX 01094 96031,32457 83602 10296 20245 30053 40083 56022 8582...,1,9,4,,,None,32457
807,2025-02-01 12:00:00,2025-02-01T12:03:01,96031,SMID61,WIMM,SMID61 WIMM 011200\nAAXX 01124 \n96031 31556 7...,1,12,AAXX 01124 96031 31556 73602 10280 20245 30067...,,AAXX 01124 96031,31556 73602 10280 20245 30067 40097 53014 7052...,1,12,4,,,None,31556
811,2025-02-02 00:00:00,2025-02-01T23:59:14,96031,SMID61,WIMM,SMID61 WIMM 020000\nAAXX 02004 \n96031 11457 8...,2,0,AAXX 02004 96031 11457 80000 10250 20239 30079...,,AAXX 02004 96031,11457 80000 10250 20239 30079 40109 5//// 6990...,2,0,4,,,None,11457
753,2025-02-01 03:00:00,2025-02-01T03:02:51,96033,SIID61,WIBL,SIID61 WIBL 010300\nAAXX 01034 \n96033 32460 7...,1,3,AAXX 01034 96033 32460 72904 10288 20237 30108...,,AAXX 01034 96033,32460 72904 10288 20237 30108 40112 51020 8382...,1,3,4,,,None,32460
758,2025-02-01 06:00:00,2025-02-01T06:11:48,96033,SMID71,WIBL,SMID71 WIBL 010600\nAAXX 01064 \n96033 32460 8...,1,6,AAXX 01064 96033 32460 80303 10303 20232 30090...,,AAXX 01064 96033,32460 80303 10303 20232 30090 40094 58018 8392...,1,6,4,,,None,32460
757,2025-02-01 09:00:00,2025-02-01T09:03:33,96033,SIID61,WIBL,SIID61 WIBL 010900\nAAXX 01094 \n96033 32460 7...,1,9,AAXX 01094 96033 32460 70406 10295 20233 30066...,,AAXX 01094 96033,32460 70406 10295 20233 30066 40070 56024 8392...,1,9,4,,,None,32460
752,2025-02-01 12:00:00,2025-02-01T12:07:21,96033,SMID71,WIBL,SMID71 WIBL 011200\nAAXX 01124 \n96033 32456 6...,1,12,AAXX 01124 96033 32456 60604 10287 20239 30078...,,AAXX 01124 96033,32456 60604 10287 20239 30078 40082 53012 8392...,1,12,4,,,None,32456
759,2025-02-01 15:00:00,2025-02-01T14:58:00,96033,SIID61,WIBL,SIID61 WIBL 011500\nAAXX 01154 \n96033 32456 4...,1,15,AAXX 01154 96033 32456 43002 10274 20243 30097...,,AAXX 01154 96033,32456 43002 10274 20243 30097 40101 51019 8151...,1,15,4,,,None,32456
756,2025-02-01 18:00:00,2025-02-01T17:55:58,96033,SMID71,WIBL,SMID71 WIBL 011800\nAAXX 01184 \n96033 32456 4...,1,18,AAXX 01184 96033 32456 43002 10273 20243 30098...,,AAXX 01184 96033,32456 43002 10273 20243 30098 40102 50001 8151...,1,18,4,,,None,32456
755,2025-02-01 21:00:00,2025-02-01T21:44:05,96033,SIID61,WIBL,SIID61 WIBL 012100\nAAXX 01214 \n96033 32456 4...,1,21,AAXX 01214 96033 32456 40000 10266 20247 30080...,,AAXX 01214 96033,32456 40000 10266 20247 30080 40084 56018 8151...,1,21,4,,,None,32456
754,2025-02-02 00:00:00,2025-02-02T00:00:54,96033,SMID71,WIBL,SMID71 WIBL 020000\nAAXX 02004 \n96033 32457 8...,2,0,AAXX 02004 96033 32457 82703 10264 20236 30091...,,AAXX 02004 96033,32457 82703 10264 20236 30091 40095 53011 8392...,2,0,4,,,None,32457
784,2025-02-01 01:00:00,2025-02-01T01:07:01,96035,SNID51,WIMM,SNID51 WIMM 010100\nAAXX 01014 \n96035 41440 7...,1,1,AAXX 01014 96035 41440 72103 10254 20235 30094...,,AAXX 01014 96035,41440 72103 10254 20235 30094 40102 70522 8357...,1,1,4,,,None,41440
802,2025-02-01 02:00:00,2025-02-01T02:01:05,96035,SNID51,WIMM,SNID51 WIMM 010200\nAAXX 01024 \n96035 41450 7...,1,2,AAXX 01024 96035 41450 72404 10263 20234 30101...,,AAXX 01024 96035,41450 72404 10263 20234 30101 40109 70522 8357...,1,2,4,,,None,41450
796,2025-02-01 03:00:00,2025-02-01T02:59:05,96035,SIID61,WIMM,SIID61 WIMM 010300\nAAXX 01034 \n96035 32456 7...,1,3,AAXX 01034 96035 32456 72405 10279 20239 30102...,,AAXX 01034 96035,32456 72405 10279 20239 30102 40109 51020 8357...,1,3,4,,,None,32456
794,2025-02-01 04:00:00,2025-02-01T03:59:37,96035,SNID51,WIMM,SNID51 WIMM 010400\nAAXX 01044 \n96035 42459 7...,1,4,AAXX 01044 96035 42459 72904 10295 20241 30101...,,AAXX 01044 96035,42459 72904 10295 20241 30101 40108 83576 333,1,4,4,,,None,42459
790,2025-02-01 05:00:00,2025-02-01T04:59:56,96035,SNID51,WIMM,SNID51 WIMM 010500\nAAXX 01054 \n96035 42460 7...,1,5,AAXX 01054 96035 42460 73306 10308 20225 30093...,,AAXX 01054 96035,42460 73306 10308 20225 30093 40100 83576 333,1,5,4,,,None,42460
785,2025-02-01 06:00:00,2025-02-01T05:59:39,96035,SMID51,WIMM,SMID51 WIMM 010600\nAAXX 01064 \n96035 32460 7...,1,6,AAXX 01064 96035 32460 73307 10305 20235 30084...,,AAXX 01064 96035,32460 73307 10305 20235 30084 40091 58018 8357...,1,6,4,,,None,32460
801,2025-02-01 07:00:00,2025-02-01T06:58:55,96035,SNID51,WIMM,SNID51 WIMM 010700\nAAXX 01074 \n96035 42460 7...,1,7,AAXX 01074 96035 42460 73408 10305 20237 30074...,,AAXX 01074 96035,42460 73408 10305 20237 30074 40082 83578 333,1,7,4,,,None,42460
793,2025-02-01 08:00:00,2025-02-01T08:00:43,96035,SNID51,WIMM,SNID51 WIMM 010800\nAAXX 01084 \n96035 42460 7...,1,8,AAXX 01084 96035 42460 73610 10306 20236 30066...,,AAXX 01084 96035,42460 73610 10306 20236 30066 40074 83578 333,1,8,4,,,None,42460
788,2025-02-01 09:00:00,2025-02-01T09:00:42,96035,SIID61,WIMM,SIID61 WIMM 010900\nAAXX 01094 \n96035 32460 6...,1,9,AAXX 01094 96035 32460 63610 10303 20238 30060...,,AAXX 01094 96035,32460 63610 10303 20238 30060 40067 56024 8357...,1,9,4,,,None,32460
795,2025-02-01 10:00:00,2025-02-01T09:59:18,96035,SNID51,WIMM,SNID51 WIMM 011000\nAAXX 01104 \n96035 42460 6...,1,10,AAXX 01104 96035 42460 63408 10300 20227 30060...,,AAXX 01104 96035,42460 63408 10300 20227 30060 40067 82576 333,1,10,4,,,None,42460
806,2025-02-01 11:00:00,2025-02-01T10:58:37,96035,SNID51,WIMM,SNID51 WIMM 011100\nAAXX 01114 \n96035 42460 7...,1,11,AAXX 01114 96035 42460 73507 10289 20230 30067...,,AAXX 01114 96035,42460 73507 10289 20230 30067 40074 82536 333,1,11,4,,,None,42460
782,2025-02-01 12:00:00,2025-02-01T12:00:45,96035,SMID51,WIMM,SMID51 WIMM 011200\nAAXX 01124 \n96035 32459 7...,1,12,AAXX 01124 96035 32459 73104 10280 20232 30072...,,AAXX 01124 96035,32459 73104 10280 20232 30072 40080 53013 8353...,1,12,4,,,None,32459
805,2025-02-01 13:00:00,2025-02-08T06:22:07,96035,SNID51,WIMM,SNID51 WIMM 011300\nAAXX 01134 \n96035 42458 6...,1,13,AAXX 01134 96035 42458 63502 10272 20260 30080...,,AAXX 01134 96035,42458 63502 10272 20260 30080 40088 83528 333,1,13,4,,,None,42458
803,2025-02-01 14:00:00,2025-02-01T13:59:05,96035,SNID51,WIMM,SNID51 WIMM 011400\nAAXX 01144 \n96035 42457 6...,1,14,AAXX 01144 96035 42457 60000 10270 20257 30083...,,AAXX 01144 96035,42457 60000 10270 20257 30083 40091 83528 333,1,14,4,,,None,42457
797,2025-02-01 15:00:00,2025-02-01T14:59:10,96035,SIID61,WIMM,SIID61 WIMM 011500\nAAXX 01154 \n96035 32456 6...,1,15,AAXX 01154 96035 32456 60000 10263 20254 30090...,,AAXX 01154 96035,32456 60000 10263 20254 30090 40098 51018 8352...,1,15,4,,,None,32456
799,2025-02-01 16:00:00,2025-02-08T06:24:34,96035,SNID51,WIMM,SNID51 WIMM 011600\nAAXX 01164 \n96035 41450 6...,1,16,AAXX 01164 96035 41450 60000 10262 20255 30095...,,AAXX 01164 96035,41450 60000 10262 20255 30095 40103 71022 8352...,1,16,4,,,None,41450
789,2025-02-01 17:00:00,2025-02-01T17:00:24,96035,SNID51,WIMM,SNID51 WIMM 011700\nAAXX 01174 \n96035 41440 6...,1,17,AAXX 01174 96035 41440 60000 10261 20257 30095...,,AAXX 01174 96035,41440 60000 10261 20257 30095 40103 71022 8352...,1,17,4,,,None,41440
800,2025-02-01 18:00:00,2025-02-01T18:00:29,96035,SMID51,WIMM,SMID51 WIMM 011800\nAAXX 01184 \n96035 31440 6...,1,18,AAXX 01184 96035 31440 62402 10261 20257 30092...,,AAXX 01184 96035,31440 62402 10261 20257 30092 40100 50002 7102...,1,18,4,,,None,31440
787,2025-02-01 19:00:00,2025-02-01T18:59:46,96035,SNID51,WIMM,SNID51 WIMM 011900\nAAXX 01194 \n96035 41440 6...,1,19,AAXX 01194 96035 41440 62402 10262 20261 30083...,,AAXX 01194 96035,41440 62402 10262 20261 30083 40091 71022 8352...,1,19,4,,,None,41440
781,2025-02-01 20:00:00,2025-02-01T19:58:30,96035,SNID51,WIMM,SNID51 WIMM 012000\nAAXX 01204 \n96035 41440 6...,1,20,AAXX 01204 96035 41440 62202 10259 20256 30080...,,AAXX 01204 96035,41440 62202 10259 20256 30080 40088 71022 8352...,1,20,4,,,None,41440
798,2025-02-01 21:00:00,2025-02-01T21:01:00,96035,SIID61,WIMM,SIID61 WIMM 012100\nAAXX 01214 \n96035 31430 6...,1,21,AAXX 01214 96035 31430 60000 10258 20255 30070...,,AAXX 01214 96035,31430 60000 10258 20255 30070 40078 58022 7102...,1,21,4,,,None,31430
792,2025-02-01 22:00:00,2025-02-01T22:13:25,96035,SNID51,WIMM,SNID51 WIMM 012200\nAAXX 01224 \n96035 41430 6...,1,22,AAXX 01224 96035 41430 62802 10255 20254 30076...,,AAXX 01224 96035,41430 62802 10255 20254 30076 40086 71022 8352...,1,22,4,,,None,41430
791,2025-02-01 23:00:00,2025-02-01T23:20:02,96035,SNID51,WIMM,SNID51 WIMM 012300\nAAXX 01234 \n96035 41430 6...,1,23,AAXX 01234 96035 41430 62803 10253 20252 30080...,,AAXX 01234 96035,41430 62803 10253 20252 30080 40088 71022 8352...,1,23,4,,,None,41430
783,2025-02-02 00:00:00,2025-02-01T23:58:39,96035,SMID51,WIMM,SMID51 WIMM 020000\nAAXX 02004 \n96035 31430 7...,2,0,AAXX 02004 96035 31430 70000 10252 20249 30088...,,AAXX 02004 96035,31430 70000 10252 20249 30088 40096 52018 7102...,2,0,4,,,None,31430
778,2025-02-01 03:00:00,2025-02-01T03:00:51,96037,SIID71,WIMM,SIID71 WIMM 010300\nAAXX 01033 \n96037 32458 6...,1,3,AAXX 01033 96037 32458 60000 10282 20237 30022...,,AAXX 01033 96037,32458 60000 10282 20237 30022 40126 51017 8343...,1,3,3,,,None,32458
775,2025-02-01 06:00:00,2025-02-01T06:19:56,96037,SMID61,WIMM,SMID61 WIMM 010600\nAAXX 01063 \n96037 32458 8...,1,6,AAXX 01063 96037 32458 80000 10298 20235 30001...,,AAXX 01063 96037,32458 80000 10298 20235 30001 40105 56021 8443...,1,6,3,,,None,32458
776,2025-02-01 09:00:00,2025-02-01T08:59:35,96037,SIID71,WIMM,SIID71 WIMM 010900\nAAXX 01093 \n96037 21458 8...,1,9,AAXX 01093 96037 21458 80000 10296 20239 39980...,,AAXX 01093 96037,21458 80000 10296 20239 39980 40084 56021 7212...,1,9,3,,,None,21458
774,2025-02-01 12:00:00,2025-02-01T11:49:59,96037,SMID61,WIMM,SMID61 WIMM 011200\nAAXX 01123 \n96037 12457 8...,1,12,AAXX 01123 96037 12457 80000 10276 20235 39992...,,AAXX 01123 96037,12457 80000 10276 20235 39992 40096 53012 6992...,1,12,3,,,None,12457

In [16]:


# --- Ambil nddff: 5 digit setelah iihvv ---
def extract_nddff(teks, iihvv):
    try:
        if not isinstance(teks, str) or not isinstance(iihvv, str):
            return None
        #pattern = re.escape(iihvv) + r'\s*(\d{5})(?=\s1)'  # cari 5 digit setelah iihvv, diikuti spasi1
        pattern = re.escape(iihvv) + r'\s*/?\s*(\d{4,5})(?=\s1)'
        match = re.search(pattern, teks)
        return match.group(1) if match else None
    except:
        return None

data['nddff'] = data.apply(lambda row: extract_nddff(row['seksi1'], row['iihvv']), axis=1)

data['nddff'] = data['nddff'].astype(str)

# ambil arah (dd) dari posisi 1-3, kecepatan (ff) dari 3-5
data['wd'] = data['nddff'].apply(lambda x: x[1:3] if len(x) >= 3 and x[1:3] != "//" else None)
data['ws'] = data['nddff'].apply(lambda x: x[3:5] if len(x) >= 5 and x[3:5] != "//" else None)

# tambahkan zero-padding agar dua digit
data['wd'] = data['wd'].astype(str).str.zfill(2)
data['ws'] = data['ws'].astype(str).str.zfill(2)

# --- Fungsi interpretasi Arah Angin ---
def interpret_wd(row):
    try:
        wd = int(row['wd'])
        ws = int(row['ws'])
        
        # Kasus khusus: tidak ada angin
        if wd == 0 and ws == 0:
            return None  
        
        # Kasus arah utara (ada angin tapi wd = 00)
        if wd == 0 and ws > 0:
            return 0  
        
        # Normal: kode wd dikali 10 derajat
        if 1 <= wd <= 36:
            return wd * 10
        
        return None
    except:
        return None


# --- Fungsi interpretasi Kecepatan Angin ---
def interpret_ws(ws):
    try:
        ws = int(ws)
        if ws == 0:
            return None
        elif 1 <= ws <= 99:
            return ws
        else:
            return None
    except:
        return None


# --- Fungsi interpretasi Gale (angin kencang) ---
def interpret_gale(ws):
    try:
        ws = int(ws)
        if ws >= 30:
            return ws
        else:
            return None
    except:
        return None


# --- Terapkan ke DataFrame ---
data['Arah_angin'] = data.apply(interpret_wd, axis=1)
data['Kecepatan_angin'] = data['ws'].apply(interpret_ws)
data['Gale'] = data['ws'].apply(interpret_gale)

def ambil_seksi1_1(teks):
    teks = str(teks).replace('\n', ' ').strip()
    match = re.search(r'(1[0-9/]{4}\s2[0-9/]{4}.*)', teks)
    if match:
        return match.group(1).strip()
    return None
data['seksi1_1'] = data['seksi1'].apply(ambil_seksi1_1)

# Loop otomatis dari sandi1 sampai sandi8
for i in range(1, 9):
    # Regex: angka pertama = nomor sandi, 4 karakter berikut boleh angka atau '/'
    regex = fr'({i}[0-9/]{{4}})'
    data[f'sandi{i}'] = data['seksi1_1'].astype(str).str.extract(regex, expand=False)

def interpret_ttt(sandi1):
    try:
        sandi1 = str(sandi1).strip()
        if len(sandi1) < 5:
            return None
        
        # Ambil substring TTT (3 digit terakhir dari karakter ke-2 sampai ke-4)
        ttt_str = sandi1[2:5]
        
        # Pastikan cukup panjang
        if len(ttt_str) != 3:
            return None
        
        # Angka kedua dari sandi1 menentukan tanda (0 = positif, 1 = negatif)
        sign_digit = sandi1[1]
        value = int(ttt_str)
        suhu = value / 10
        
        if sign_digit == '0':
            return suhu
        elif sign_digit == '1':
            return -suhu
        else:
            return None
    except:
        return None

data['Temperatur'] = data['sandi1'].apply(interpret_ttt)

def interpret_tdtdtd(sandi2):
    try:
        sandi2 = str(sandi2).strip()
        if len(sandi2) < 5:
            return None
        
        # Ambil 3 digit terakhir sebagai TdTdTd
        tdtdtd_str = sandi2[2:5]
        
        if len(tdtdtd_str) != 3:
            return None
        
        # Angka kedua dari sandi2 menentukan tanda (0 = positif, 1 = negatif)
        sign_digit = sandi2[1]
        value = int(tdtdtd_str)
        suhu = value / 10
        
        if sign_digit == '0':
            return suhu
        elif sign_digit == '1':
            return -suhu
        else:
            return None
    except:
        return None

data['Dew_Point'] = data['sandi2'].apply(interpret_tdtdtd)       

def interpret_qfe(sandi3):
    try:
        sandi3 = str(sandi3).strip()
        if len(sandi3) < 5:
            return None

        # Ambil 4 digit PoPoPoPo (mulai dari karakter ke-2)
        popopopo = sandi3[1:5]
        qfe_int = int(popopopo)
        qfe_str = popopopo.zfill(4)

        # Aturan konversi
        if qfe_str.startswith('0'):
            return (qfe_int / 10) + 1000
        else:
            return qfe_int / 10
    except:
        return None

data['Tekanan_Permukaan'] = data['sandi3'].apply(interpret_qfe)

def interpret_qff(sandi4):
    try:
        sandi4 = str(sandi4).strip()
        if len(sandi4) < 5:
            return None

        # Ambil 4 digit PPPP (mulai dari karakter ke-2)
        pppp = sandi4[1:5]
        qff_int = int(pppp)
        qff_str = pppp.zfill(4)

        # Aturan konversi tekanan
        if qff_str.startswith('0'):
            return (qff_int / 10) + 1000
        else:
            return qff_int / 10
    except:
        return None

data['Tekanan_Laut'] = data['sandi4'].apply(interpret_qff)      

def interpret_ppp(sandi5):
    try:
        sandi5 = str(sandi5).strip()
        if len(sandi5) < 5:
            return None

        # Ambil 3 digit PPP (mulai dari karakter ke-3)
        ppp = sandi5[2:5]
        ppp_str = ppp.zfill(3)
        ppp_int = int(ppp_str)

        # Interpretasi nilai selisih tekanan
        return ppp_int / 10
    except:
        return None

data['Selisih_Tekanan'] = data['sandi5'].apply(interpret_ppp)

def interpret_rain(sandi6):
    try:
        sandi6 = str(sandi6).strip()
        
        # Validasi format: harus diawali '6' dan diakhiri '4'
        if not (len(sandi6) >= 5 and sandi6[0] == '6' and sandi6[4] == '4'):
            return None
        
        # Ambil 3 digit curah hujan (ch)
        ch_str = sandi6[1:4].zfill(3)
        ch = int(ch_str)
        
        # Interpretasi sesuai kode
        if 1 <= ch < 990:
            return ch               # Curah hujan dalam 0.1 mm
        elif ch == 990:
            return None             # Tidak ada data
        elif 991 <= ch <= 999:
            return (ch - 990) / 10  # Dalam satuan mm (kode 991–999)
        else:
            return None
    except:
        return None

data['Curah_Hujan'] = data['sandi6'].apply(interpret_rain)


def interpret_heavy_rain(ch):
    try:
        if ch is None:
            return None
            ch = float(ch)
        if ch >= 50:
            return ch
            return None
    except:
        return None

data['Heavy_Rain'] = data['Curah_Hujan'].apply(interpret_heavy_rain)     

data['ww'] = pd.DataFrame(data.sandi7.astype(str).apply(lambda x: x[1:3] if len(x) >= 3 and x[0]=='7' else None))

data['ww'] = data['ww'].astype(str).str.zfill(2)
mapping_df = pd.read_excel('ww.xlsx')
mapping_df['kode'] = mapping_df['kode'].astype(str).str.zfill(2)
mapping_dict = mapping_df.set_index('kode')['interpretasi'].to_dict()
data['ww_interpretasi'] = data['ww'].map(mapping_dict)

data['W1'] = pd.DataFrame(data.sandi7.astype(str).apply(lambda x: x[3:4] if len(x) >= 4 and x[0]=='7' else None))

def interpret_w(W1):
    try:
        W1 = int(W1)
        if W1 == 0:
            return 'Awan menutupi langit setengah atau kurang selama jangka waktu yang ditentukan'
        elif W1 == 1 :
            return 'Awan menutupi langit lebih dari setengah selama sebagian dari jangka waktu yang ditetaokan dan setengah atau kurang selama sebagian dari jangka waktu itu'
        elif W1 == 2 :
            return 'Awan menutupi langit lebih dari setengah selama jangka waktu yang ditetapkan'
        elif W1 == 3 :
            return 'Badai pasir, badai debu, atau salju hembus'
        elif W1 == 4 :
            return 'Kabut atau kekaburan tebal'
        elif W1 == 5 :
            return 'Drizzlo'
        elif W1 == 6 :
            return 'Hujan'
        elif W1 == 7 :
            return 'Salju atau hujan bercampur salju'
        elif W1 == 8 :
            return 'Hujan tiba-tiba (Showers)'
        elif W1 == 9 :
            return 'Badai guntur disertai endapan atau tidak disertai endapan'
    except:
        return None

data['W1_interpretasi'] = data['W1'].apply(interpret_w)
data['W2'] = pd.DataFrame(data.sandi7.astype(str).apply(lambda x: x[4:5] if len(x) >= 5 and x[0]=='7' else None))
data['W2_interpretasi'] = data['W2'].apply(interpret_w)

data['Nh'] = pd.DataFrame(data.sandi8.astype(str).apply(lambda x: x[1:2] if len(x) >= 3 and x[0]=='8' else None))

data['Nh'] = data['Nh'].astype(str).str.zfill(1)

def interpret_cloudL(C):
    try:
        C = int(C)
        if C == 0:
            return 'Tidak ada awan'
        elif C == 1 :
            return 'Cumulus humilis atau fracto cumulus atau kedua-duanya'
        elif C == 2 :
            return 'Cumulus mediocris atau congestus, disertai atau tidak disertai fracto cumulus atau humilis atau strato cumulus, dengan tinggi dasar sama'
        elif C == 3 :
            return 'Cumulunimbus tanpa landasan, disertai atau tidak disertai cumulus, strato cumulus atau stratus'
        elif C == 4 :
            return 'Stratocumulus yang terjadi dari bentangan cumulus'
        elif C == 5 :
            return 'Stratocumulus yang tidak terjadi dari bentangan cumulus'
        elif C == 6 :
            return 'Stratus'
        elif C == 7 :
            return 'Fraktotratus atau fraktocumulus yang menyertai cuaca buruk, biasanya di bawah As atau Ns '
        elif C == 8 :
            return 'Cumulus dan stratocumulus yang tidak terjadi dari bentangan cumulus, dengan tinggi dasar berlainan'
        elif C == 9 :
            return 'Cumulunimbus, biasanya berlandaskan disertai cumulus, stratocumulus, stratus, cumulunimbus yang tidak berlandaskan'
    except:
        return 'Tidak terlihat'
    

def interpret_cloudM(C):
    try:
        C = int(C)
        if C == 0:
            return 'Tidak ada awan'
        elif C == 1 :
            return 'Altostratus tipis'
        elif C == 2 :
            return 'Altostratus tebal atau nimbostratus'
        elif C == 3 :
            return 'Altocumulus tipis dalam suatu lapisan '
        elif C == 4 :
            return 'Altocumulus tipis berbentuk terpisah-pisah, sering sekali berbentuk lensa, terus berubah dan terdapat pada satu lapisan atau lebih'
        elif C == 5 :
            return 'Altocumulus tipis berbentuk pias-pias atau beberapa lapisan altocumulus tipis atau tebal dalam keadaan bertambah '
        elif C == 6 :
            return 'Altocumulus yang terjadi dari bentangan cumulus'
        elif C == 7 :
            return 'Altocumulus tipis atau tebal dalam beberapa lapisan, atau satu lapisan altocumulus tebal, tidak dalam keadaan bertambah, atau altocumulus serta altostratus atau nimbostratus'
        elif C == 8 :
            return 'Altocumulus castellatus (bertanduk) atau berbentuk bayangan bintik '
        elif C == 9 :
            return 'Altocumulus dalam berbagai-bagai lapisan dan bentuk, kelihatan tidak teratur'
    except:
        return 'Tidak terlihat'

def interpret_cloudH(C):
    try:
        C = int(C)
        if C == 0:
            return 'Tidak ada awan'
        elif C == 1 :
            return 'Cirrus halus seperti bulu ayam, tidak dalam keadaan bertambah '
        elif C == 2 :
            return 'Cirrus padat, terpisah-pisah atau masa yang kusut, biasanya tidak bertambah, kadang-kadang seperti sisa-sisa landasan cumulunimbus'
        elif C == 3 :
            return 'Cirrus padat, terjadi dari landasan cumulunimbus '
        elif C == 4 :
            return 'Cirrus halus dalam bentuk koma, atau bulu ayam, menjadi lebih padat atau bertambah'
        elif C == 5 :
            return 'Cirrus dan cirrostratus, cirrostratus sendirian, dalam keadaan bertambah akan tetapi lapisan tidak mencapai ketinggian 45o di atas cakrawala'
        elif C == 6 :
            return 'Cirrus dan cirrostratus, atau cirrostratus sendirian, menjadi lebih padat dan dalam keadaan bertambah, lapisan meluas lebih dari 45o di atas cakrawala akan tetapi langit tidak tertutup semuanya '
        elif C == 7 :
            return 'Lapisan cirrostratus yang menutupi seluruh langit '
        elif C == 8 :
            return 'Cirrostratus yang tidak menutupi seluruh langit dan tidak bertambah'
        elif C == 9 :
            return 'Cirrocumulus, cirrocumulus yang terbanyak dengan sedikit cirrus dan / atau cirrostratus'
    except:
        return 'Tidak terlihat'
    

def awan_rendah(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('8') and len(t) >= 3:
            return interpret_cloudL(t[2])  # ambil angka ke-3 dan interpretasikan
    return None
data['CL'] = data['sandi8'].apply(awan_rendah)

def awan_menengah(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('8') and len(t) >= 3:
            return interpret_cloudM(t[3])  # ambil angka ke-3 dan interpretasikan
    return None
data['CM'] = data['sandi8'].apply(awan_menengah)

def awan_tinggi(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('8') and len(t) >= 3:
            return interpret_cloudH(t[4])  # ambil angka ke-3 dan interpretasikan
    return None
data['CH'] = data['sandi8'].apply(awan_tinggi)

In [17]:
# def ambil_setelah_333(teks):
#     if not isinstance(teks, str):
#         return None
#     match = re.search(r'333\s+(.*?)=', teks, re.DOTALL)
#     return match.group(1).strip() if match else None

# data['seksi3'] = data['sandi_gts'].apply(ambil_setelah_333)
def ambil_setelah_333(teks):
    if not isinstance(teks, str):
        return None
    # pastikan sebelum 333 adalah spasi atau awal baris
    match = re.search(r'(?:^|\s)333\s+(.*?)=', teks, re.DOTALL)
    return match.group(1).strip() if match else None

data['seksi3'] = data['sandi_gts'].apply(ambil_setelah_333)
data['seksi3'] = data['seksi3'].str.replace(r'\s+', ' ', regex=True).str.strip()

# --- Ambil sandi 2 (TnTnTn) ---
def ambil_sandi1(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('1'):
            return t
    return None

data['sn1'] = data['seksi3'].apply(ambil_sandi1)

#data['TxTxTx'] = pd.DataFrame(data.sn1.astype(str).apply(lambda x: x[2:5] if len(x) >= 4  else None))

def interpret_tmax(sandi7):
    try:
        sandi7 = str(sandi7).strip()
        if len(sandi7) < 5 or sandi7[0] != '1':
            return None
        
        # Ambil 3 digit suhu maksimum (TxTxTx)
        tx_str = sandi7[2:5]
        
        # Ambil tanda (0 = positif, 1 = negatif)
        sign_digit = sandi7[1]
        value = int(tx_str)
        suhu = value / 10

        if sign_digit == '0':
            return suhu
        elif sign_digit == '1':
            return -suhu
        else:
            return None
    except:
        return None

data['Tmax'] = data['sn1'].apply(interpret_tmax)

# --- Ambil sandi 2 (TnTnTn) ---
def ambil_sandi2(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('2'):
            return t
    return None

data['sn2'] = data['seksi3'].apply(ambil_sandi2)

def interpret_tmin(sn2):
    try:
        sn2 = str(sn2).strip()
        if len(sn2) < 5 or sn2[0] != '2':
            return None

        # Ambil tiga digit suhu minimum (TnTnTn)
        tn_str = sn2[2:5]

        # Ambil tanda (0 = positif, 1 = negatif)
        sign_digit = sn2[1]
        value = int(tn_str)
        suhu = value / 10

        if sign_digit == '0':
            return suhu
        elif sign_digit == '1':
            return -suhu
        else:
            return None
    except:
        return None

data['Tmin'] = data['sn2'].apply(interpret_tmin)

def ambil_sandi53(teks):
    teks = str(teks).replace('\n', ' ')
    match = re.search(r'2[0-9/]{4}\s(5[0-46-9/][0-9/]{3})', teks)
    if match:
        return match.group(1)
    return None

data['sandi53'] = data['seksi3'].apply(ambil_sandi53)

# Ekstrak EEE dari sandi 5EEEiE
data['Evaporasi'] = data['sandi53'].apply(
    lambda x: x[1:4] if isinstance(x, str) and len(x) >= 5 and x.startswith('5') else None
)

# Konversi ke numerik aman
data['Evaporasi'] = pd.to_numeric(data['Evaporasi'], errors='coerce')

# Skala (dibagi 10)
data['Evaporasi'] = data['Evaporasi'] / 10

# --- Ambil sandi 55 ---
def ambil_sandi55(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('55'):
            return t
    return None

data['sandi55'] = data['seksi3'].apply(ambil_sandi55)

def interpret_lama_penyinaran(sandi55):
    try:
        # Validasi awal: harus string, diawali '55', dan panjang minimal 4
        if not (isinstance(sandi55, str) and sandi55.startswith('55') and len(sandi55) >= 4):
            return None
        
        # Ambil 3 digit SSS (lama penyinaran)
        sss_str = sandi55[2:5]
        sss = pd.to_numeric(sss_str, errors='coerce')
        if pd.isna(sss):
            return None

        # Konversi ke jam dan menit
        jam_desimal = sss / 10
        jam = int(jam_desimal)
        menit = int(round((jam_desimal - jam) * 60))
        return f"{jam} jam {menit} menit"
    except:
        return None

data['Lama_Penyinaran'] = data['sandi55'].apply(interpret_lama_penyinaran)

# --- Ambil sandi 56 ---
def ambil_sandi56(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('56'):
            return t
    return None

data['sandi56'] = data['seksi3'].apply(ambil_sandi56)

def interpret_cloudmove(C):
    try:
        C = int(C)
        if C == 0:
            return 'Awan tidak bergerak'
        elif C == 1 :
            return 'NE'
        elif C == 2 :
            return 'E'
        elif C == 3 :
            return 'SE'
        elif C == 4 :
            return 'S'
        elif C == 5 :
            return 'SW'
        elif C == 6 :
            return 'W'
        elif C == 7 :
            return 'NW'
        elif C == 8 :
            return 'N'
        elif C == 9 :
            return 'Tidak diketahui'
    except:
        return None
    
    
def ambil_arah_awan_L(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('56') and len(t) >= 3:
            return interpret_cloudmove(t[2])
    return None

def ambil_arah_awan_M(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('56') and len(t) >= 4:  # ubah dari >=3 ke >=4
            return interpret_cloudmove(t[3])
    return None

def ambil_arah_awan_H(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('56') and len(t) >= 5:  # ubah dari >=3 ke >=5
            return interpret_cloudmove(t[4])
    return None

data['DL'] = data['sandi56'].apply(ambil_arah_awan_L)

data['DM'] = data['sandi56'].apply(ambil_arah_awan_M)

data['DH'] = data['sandi56'].apply(ambil_arah_awan_H)



# --- Ambil sandi 57 ---
def ambil_sandi57(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('57'):
            return t
    return None

data['sandi57'] = data['seksi3'].apply(ambil_sandi57)

def awan_L(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('57') and len(t) >= 3:
            return interpret_cloudL(t[2])  # ambil angka ke-3 dan interpretasikan
    return None

data['Awan_Rendah'] = data['sandi57'].apply(awan_L)

def arah_sebenarnya(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('57') and len(t) >= 4:
            return interpret_cloudmove(t[3])  # ambil angka ke-3 dan interpretasikan
    return None

data['Arah_Sebenarnya'] = data['sandi57'].apply(arah_sebenarnya)

def interpretasi_elevasi(C):
    try:
        C = int(C)
        if C == 0:
            return 'Puncak awan tidak terlihat'
        elif C == 1 :
            return '45°'
        elif C == 2 :
            return '30°'
        elif C == 3 :
            return '20°'
        elif C == 4 :
            return '15°'
        elif C == 5 :
            return '12°'
        elif C == 6 :
            return '9°'
        elif C == 7 :
            return '7°'
        elif C == 8 :
            return '6°'
        elif C == 9 :
            return '5°'
    except:
        return None

def sudut_elevasi(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('57') and len(t) >= 5:
            return interpretasi_elevasi(t[4])  # ambil angka ke-3 dan interpretasikan
    return None

data['Elevasi'] = data['sandi57'].apply(sudut_elevasi)

def ambil_sandi58(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('58'):
            return t
    return None

data['sandi58'] = data['seksi3'].apply(ambil_sandi58)

def ambil_sandi59(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('59'):
            return t
    return None

data['sandi59'] = data['seksi3'].apply(ambil_sandi59)



# --- Ambil sandi 63 (curah hujan) ---
def ambil_sandi63(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('6'):
            return t
    return None

data['sandi63'] = data['seksi3'].apply(ambil_sandi63)

# --- Interpretasi curah hujan langsung dari sandi63 ---
def interpret_rain(x):
    try:
        # Pastikan x adalah string dengan format 6xxx
        if isinstance(x, str) and len(x) >= 5 and x.startswith('6'):
            ch = int(x[1:4])  # ambil 3 digit di tengah
            
            if 1 <= ch < 990:
                return ch
            elif ch == 990:
                return None
            elif 991 <= ch <= 999:
                return (ch - 990) / 10
    except:
        return None
    return None

data['Curah_Hujan_Jam'] = data['sandi63'].apply(interpret_rain)

# --- Ambil sandi 63 (curah hujan) ---
def ambil_sandi83(teks):
    if not isinstance(teks, str):
        return None
    tokens = teks.split()
    for t in tokens:
        if t.startswith('8'):
            return t
    return None

data['sandi83'] = data['seksi3'].apply(ambil_sandi83)

data['Nh3'] = pd.DataFrame(data.sandi83.astype(str).apply(lambda x: x[1:2] if len(x) >= 3 and x[0]=='8' else None))

data['Nh3'] = data['Nh3'].astype(str).str.zfill(1)

def interpret_cloud(x):
    try:
        # Pastikan string dan formatnya diawali 8
        if isinstance(x, str) and len(x) >= 4 and x[0] == '8':
            C = int(x[2])
            return {
                0: 'Cirrus (Ci)',
                1: 'Cirrocumulus (Cc)',
                2: 'Cirrostratus (Cs)',
                3: 'Altocumulus (Ac)',
                4: 'Altostratus (As)',
                5: 'Nimbostratus (Ns)',
                6: 'Stratocumulus (Sc)',
                7: 'Stratus (St)',
                8: 'Cumulus (Cu)',
                9: 'Cumulonimbus (Cb)'
            }.get(C, None)
    except:
        return None
    return None

data['C_interpretasi'] = data['sandi83'].apply(interpret_cloud)

# --- Bersihkan 'None' string jadi NaN ---
data.replace('None', np.nan, inplace=True)

In [18]:
def cek_false_ir(row):
    """
    Aturan yang diterapkan (lebih ketat):
    - ir = '0' -> harus ada sandi6 AND sandi63
        -> error jika salah satu/dua-duanya hilang
    - ir = '1' -> harus ada sandi6 AND sandi63 harus TIDAK ADA
        -> error jika sandi6 tidak ada OR sandi63 ada
    - ir = '2' -> harus ada sandi63 AND sandi6 harus TIDAK ADA
        -> error jika sandi63 tidak ada OR sandi6 ada
    - ir = '3' or '4' -> sandi6 dan sandi63 harus TIDAK ADA
        -> error jika salah satu/dua-duanya ada
    """
    # iihvv = str(row.get('iihvv', ''))
    # Kode perbaikan
    raw_iihvv = row.get('iihvv')
    # Jika nilainya None/NaN, anggap string kosong. Jika tidak, baru konversi ke string.
    iihvv = "" if pd.isna(raw_iihvv) else str(raw_iihvv)
    sandi6 = row.get('sandi6')
    sandi63 = row.get('sandi63')

    # Ambil digit pertama sebagai Ir jika ada digit di iihvv
    ir = iihvv[0] if len(iihvv) > 0 and iihvv[0].isdigit() else None

    # normalisasi keberadaan (True jika ada isi non-empty)
    ada_sandi6 = pd.notna(sandi6) and str(sandi6).strip() != ""
    ada_sandi63 = pd.notna(sandi63) and str(sandi63).strip() != ""

    errors = []

    if ir is None:
        errors.append("Ir tidak tersedia/tidak valid")
    else:
        if ir == '0':
            if not ada_sandi6 and not ada_sandi63:
                errors.append("Sandi 6 dan sandi 63 tidak ditemukan")
            elif not ada_sandi6:
                errors.append("Sandi 6 tidak ditemukan (dibutuhkan untuk Ir=0)")
            elif not ada_sandi63:
                errors.append("Sandi 63 tidak ditemukan (dibutuhkan untuk Ir=0)")
        elif ir == '1':
            if not ada_sandi6:
                errors.append("Sandi 6 tidak ditemukan (dibutuhkan untuk Ir=1)")
            if ada_sandi63:
                errors.append("Sandi 63 seharusnya tidak ada untuk Ir=1")
        elif ir == '2':
            if not ada_sandi63:
                errors.append("Sandi 63 tidak ditemukan (dibutuhkan untuk Ir=2)")
            if ada_sandi6:
                errors.append("Sandi 6 seharusnya tidak ada untuk Ir=2")
        elif ir in ('3', '4'):
            if ada_sandi6 or ada_sandi63:
                errors.append("Sandi 6/63 seharusnya tidak ada untuk Ir=3/4")
        else:
            errors.append(f"Ir tidak dikenali: '{ir}'")

    # Gabungkan pesan; None berarti valid
    false_ir_msg = None if len(errors) == 0 else "; ".join(errors)
    #valid_flag = (false_ir_msg is None)

    return pd.Series({
        "false_ir": false_ir_msg,
        # "valid_ir": valid_flag,
        # "ir_value": ir
    })

# Terapkan ke dataframe (akan menambah tiga kolom)
data[['false_ir']] = data.apply(cek_false_ir, axis=1)

In [19]:
def cek_false_ix(row):
    """
    Validasi Ix terhadap keberadaan sandi7.
    Aturan:
    - Ix = 1 atau 4 → sandi7 harus ADA
    - Ix = 2, 3, 5, atau 6 → sandi7 harus TIDAK ADA
    """
    iihvv = str(row.get('iihvv', ''))
    sandi7 = row.get('sandi7')

    # Ambil digit kedua dari iihvv (Ix)
    ix = iihvv[1] if len(iihvv) > 1 and iihvv[1].isdigit() else None

    # Cek keberadaan sandi7
    ada_sandi7 = pd.notna(sandi7) and str(sandi7).strip() != ""

    errors = []

    if ix is None:
        errors.append("Ix tidak tersedia/tidak valid")
    else:
        if ix in ['1', '4']:
            if not ada_sandi7:
                errors.append("Sandi 7 tidak ditemukan (dibutuhkan untuk Ix=1/4)")
        elif ix in ['2', '3', '5', '6']:
            if ada_sandi7:
                errors.append("Sandi 7 seharusnya tidak ada untuk Ix=2/3/5/6")
        else:
            errors.append(f"Ix tidak dikenali: '{ix}'")

    false_ix_msg = None if len(errors) == 0 else "; ".join(errors)
    # valid_ix = (false_ix_msg is None)

    return pd.Series({
        "false_ix": false_ix_msg,
        # "valid_ix": valid_ix,
        # "ix_value": ix
    })

# Terapkan ke dataframe utama
data[['false_ix']] = data.apply(cek_false_ix, axis=1)

In [20]:
def cek_false_nddff(row):
    """
    Menandai kesalahan jika kolom 'nddff' kosong.
    """
    nddff = row.get('nddff')

    if pd.isna(nddff) or str(nddff).strip() == "":
        return "Sandi nddff tidak ditemukan di seksi 1"
    else:
        return None  # valid

# Buat kolom baru false_nddff
data['false_nddff'] = data.apply(cek_false_nddff, axis=1)

In [21]:
def cek_false_sandi5(row):
    """
    Validasi sandi5 terhadap jam laporan SYNOP.
    - Harus ada di jam: 00, 03, 06, 09, 12, 15, 18, 21
    - Tidak boleh ada di jam lainnya.
    """
    jam = row.get('jam')
    sandi5 = row.get('sandi5')

    # pastikan jam dalam bentuk integer
    try:
        jam_int = int(str(jam).split(':')[0])  # misal jam="03:00:00"
    except Exception:
        return "Format jam tidak valid"

    # Daftar jam wajib laporan
    jam_wajib = [0, 3, 6, 9, 12, 15, 18, 21]

    # Cek keberadaan sandi5
    ada_sandi5 = pd.notna(sandi5) and str(sandi5).strip() != ""

    # Logika utama
    if jam_int in jam_wajib:
        if not ada_sandi5:
            return f"Sandi 5 seharusnya ada pada jam {jam_int:02d}"
    else:
        if ada_sandi5:
            return f"Sandi 5 tidak boleh ada pada jam {jam_int:02d}"

    # Jika semua valid
    return None

# Terapkan ke dataframe
data['false_sandi5'] = data.apply(cek_false_sandi5, axis=1)

In [22]:
def cek_false_sn1(row):
    """
    Validasi sandi sn1 terhadap jam laporan.
    - Harus ADA pada jam 12
    - Tidak boleh ada pada jam lain
    """
    jam = row.get('jam')
    sn1 = row.get('sn1')

    # Pastikan jam bisa dibaca sebagai integer
    try:
        jam_int = int(str(jam).split(':')[0])  # kalau format jam "12:00:00"
    except Exception:
        return "Format jam tidak valid"

    ada_sn1 = pd.notna(sn1) and str(sn1).strip() != ""

    if jam_int == 12:
        if not ada_sn1:
            return "Sandi sn1 seharusnya ada pada jam 12"
    else:
        if ada_sn1:
            return f"Sandi sn1 tidak boleh ada pada jam {jam_int:02d}"

    return None  # valid

# Tambahkan kolom ke dataframe
data['false_sn1'] = data.apply(cek_false_sn1, axis=1)

In [23]:
def cek_false_sn2(row):
    """
    Validasi sandi sn2 terhadap jam laporan.
    - Harus ADA pada jam 00
    - Tidak boleh ada pada jam lain
    """
    jam = row.get('jam')
    sn2 = row.get('sn2')

    # Pastikan jam bisa dibaca sebagai integer
    try:
        jam_int = int(str(jam).split(':')[0])  # kalau format jam "00:00:00"
    except Exception:
        return "Format jam tidak valid"

    ada_sn2 = pd.notna(sn2) and str(sn2).strip() != ""

    if jam_int == 00:
        if not ada_sn2:
            return "Sandi sn2 seharusnya ada pada jam 00"
    else:
        if ada_sn2:
            return f"Sandi sn2 tidak boleh ada pada jam {jam_int:02d}"

    return None  # valid

# Tambahkan kolom ke dataframe
data['false_sn2'] = data.apply(cek_false_sn2, axis=1)

In [24]:
import pandas as pd

def cek_false_sandi53(row):
    """
    Validasi sandi53 terhadap jam laporan.
    - Harus ADA pada jam 00
    - Tidak boleh ada pada jam lain
    """
    jam = row.get('jam')
    sandi53 = row.get('sandi53')

    try:
        jam_int = int(str(jam).split(':')[0])  # dukung format "00:00:00"
    except Exception:
        return "Format jam tidak valid"

    ada_sandi53 = pd.notna(sandi53) and str(sandi53).strip() != ""

    if jam_int == 0:
        if not ada_sandi53:
            return "Sandi 53 seharusnya ada pada jam 00"
    else:
        if ada_sandi53:
            return f"Sandi 53 tidak boleh ada pada jam {jam_int:02d}"

    return None


def cek_false_sandi55(row):
    """
    Validasi sandi55 terhadap jam laporan.
    - Harus ADA pada jam 00
    - Tidak boleh ada pada jam lain
    """
    jam = row.get('jam')
    sandi55 = row.get('sandi55')

    try:
        jam_int = int(str(jam).split(':')[0])
    except Exception:
        return "Format jam tidak valid"

    ada_sandi55 = pd.notna(sandi55) and str(sandi55).strip() != ""

    if jam_int == 0:
        if not ada_sandi55:
            return "Sandi 55 seharusnya ada pada jam 00"
    else:
        if ada_sandi55:
            return f"Sandi 55 tidak boleh ada pada jam {jam_int:02d}"

    return None


# Tambahkan kolom hasil validasi
data['false_sandi53'] = data.apply(cek_false_sandi53, axis=1)
data['false_sandi55'] = data.apply(cek_false_sandi55, axis=1)

In [25]:
def cek_false_sandi58_59(row):
    """
    Validasi kombinasi sandi58 dan sandi59.
    Aturan:
    - Hanya boleh dilaporkan pada jam 00.
    - Pada jam 00 -> harus ADA salah satu (58 atau 59), tidak boleh keduanya, tidak boleh kosong.
    - Pada jam lain -> keduanya harus TIDAK ADA.
    """
    jam = row.get('jam')
    sandi58 = row.get('sandi58')
    sandi59 = row.get('sandi59')

    # pastikan jam bisa dibaca
    try:
        jam_int = int(str(jam).split(':')[0])
    except Exception:
        return "Format jam tidak valid"

    # cek keberadaan
    ada_58 = pd.notna(sandi58) and str(sandi58).strip() != ""
    ada_59 = pd.notna(sandi59) and str(sandi59).strip() != ""

    # logika validasi
    if jam_int in (0,12):
        # hanya boleh salah satu
        if ada_58 and ada_59:
            return "Sandi 58 dan 59 tidak boleh muncul bersamaan pada jam 00"
        elif not ada_58 and not ada_59:
            return "Salah satu dari sandi 58 atau 59 harus ada pada jam 00"
    else:
        # pada jam lain keduanya harus tidak ada
        if ada_58 or ada_59:
            return f"Sandi 58/59 tidak boleh ada pada jam {jam_int:02d}"

    # jika semua valid
    return None

# Tambahkan kolom hasil validasi
data['false_sandi58_59'] = data.apply(cek_false_sandi58_59, axis=1)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2466 entries, 1581 to 1063
Data columns (total 84 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp_data       2466 non-null   datetime64[ns]
 1   timestamp_sent_data  2430 non-null   object
 2   station_wmo_id       2466 non-null   int64
 3   ttaaii               2466 non-null   object
 4   cccc                 2466 non-null   object
 5   sandi_gts            2466 non-null   object
 6   tanggal              2466 non-null   int32
 7   jam                  2466 non-null   int32
 8   seksi01              2466 non-null   object
 9   false_aaxx           2466 non-null   object
 10  seksi0               2466 non-null   object
 11  seksi1               2466 non-null   object
 12  yy                   2466 non-null   int64
 13  gg                   2466 non-null   int64
 14  i                    2466 non-null   int64
 15  false_tanggal        2466 non-null   object
 16  false_jam            2466 non-null   object
 17  false_waktu          8 non-null      object
 18  iihvv                2466 non-null   object
 19  nddff                2464 non-null   object
 20  wd                   2466 non-null   object
 21  ws                   2464 non-null   object
 22  Arah_angin           2028 non-null   float64
 23  Kecepatan_angin      2028 non-null   float64
 24  Gale                 1 non-null      float64
 25  seksi1_1             2466 non-null   object
 26  sandi1               2466 non-null   object
 27  sandi2               2466 non-null   object
 28  sandi3               2466 non-null   object
 29  sandi4               2465 non-null   object
 30  sandi5               1333 non-null   object
 31  sandi6               282 non-null    object
 32  sandi7               799 non-null    object
 33  sandi8               2451 non-null   object
 34  Temperatur           2465 non-null   float64
 35  Dew_Point            2452 non-null   float64
 36  Tekanan_Permukaan    2445 non-null   float64
 37  Tekanan_Laut         2450 non-null   float64
 38  Selisih_Tekanan      1257 non-null   float64
 39  Curah_Hujan          86 non-null     float64
 40  Heavy_Rain           5 non-null      float64
 41  ww                   799 non-null    object
 42  ww_interpretasi      799 non-null    object
 43  W1                   799 non-null    object
 44  W1_interpretasi      794 non-null    object
 45  W2                   799 non-null    object
 46  W2_interpretasi      794 non-null    object
 47  Nh                   2451 non-null   object
 48  CL                   2451 non-null   object
 49  CM                   2451 non-null   object
 50  CH                   2451 non-null   object
 51  seksi3               2462 non-null   object
 52  sn1                  177 non-null    object
 53  Tmax                 177 non-null    float64
 54  sn2                  185 non-null    object
 55  Tmin                 185 non-null    float64
 56  sandi53              184 non-null    object
 57  Evaporasi            173 non-null    float64
 58  sandi55              182 non-null    object
 59  Lama_Penyinaran      174 non-null    object
 60  sandi56              2462 non-null   object
 61  DL                   2462 non-null   object
 62  DM                   2462 non-null   object
 63  DH                   2462 non-null   object
 64  sandi57              1050 non-null   object
 65  Awan_Rendah          1050 non-null   object
 66  Arah_Sebenarnya      1050 non-null   object
 67  Elevasi              1050 non-null   object
 68  sandi58              142 non-null    object
 69  sandi59              219 non-null    object
 70  sandi63              345 non-null    object
 71  Curah_Hujan_Jam      260 non-null    float64
 72  sandi83              2449 non-null   object
 73  Nh3                  2449 non-null   object
 74  C_interpretasi       2447 non-null   object
 75  false_ir             1 non-null      object
 76  false_ix             0 non-null      object
 77  false_nddff          2 non-null      object
 78  false_sandi5         0 non-null      object
 79  false_sn1            0 non-null      object
 80  false_sn2            0 non-null      object
 81  false_sandi53        1 non-null      object
 82  false_sandi55        3 non-null      object
 83  false_sandi58_59     1 non-null      object
dtypes: datetime64[ns](1), float64(14), int32(2), int64(4), object(63)
memory usage: 1.6+ MB

In [27]:
# --- 1. Lokasi folder-file
#folder_coba = '/content/drive/MyDrive/CPNS BMKG Penerbangan/OBP/TugasOBP/Data_Excel/'  # Ganti ke folder tempat file Excel stasiun berada
file_lokasi = 'Stasiun.xlsx'  # Ganti ke path file lokasi (lon, lat)

# --- 2. Baca data lokasi stasiun
df_lokasi = pd.read_excel(file_lokasi, sheet_name="Stasiun")  # pastikan file ini punya kolom: WMO_ID, Nama_stasiun, Longitude, Latitude

# --- 🔧 Konversi tipe data WMO_ID agar bisa di-merge
data['station_wmo_id'] = data['station_wmo_id'].astype(str)
df_lokasi['station_wmo_id'] = df_lokasi['station_wmo_id'].astype(str)

# --- 5. Gabungkan dengan data lokasi
df_final = pd.merge(data, df_lokasi, on='station_wmo_id', how='inner')#[['timestamp_data','station_wmo_id', 'NAME','LAT', 'LON','ELEV','sandi_gts', 'Curah_Hujan','Heavy_Rain','Curah_Hujan_Jam','Gale','Kecepatan_angin','Arah_angin','Temperatur','Dew_Point','Tekanan_Permukaan','Tmin','Tmax','Evaporasi','Nh','CL','CM','CH']]
df_final = df_final.dropna(subset=["LAT", "LON"])

# --- Pisahkan kolom timestamp menjadi tanggal & jam ---
df_final["timestamp_data"] = pd.to_datetime(df_final["timestamp_data"], errors="coerce")
df_final["tanggal"] = df_final["timestamp_data"].dt.date.astype(str)
df_final["jam"] = df_final["timestamp_data"].dt.strftime("%H:%M")

In [28]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2391 entries, 0 to 2390
Data columns (total 92 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp_data       2391 non-null   datetime64[ns]
 1   timestamp_sent_data  2379 non-null   object
 2   station_wmo_id       2391 non-null   object
 3   ttaaii               2391 non-null   object
 4   cccc                 2391 non-null   object
 5   sandi_gts            2391 non-null   object
 6   tanggal              2391 non-null   object
 7   jam                  2391 non-null   object
 8   seksi01              2391 non-null   object
 9   false_aaxx           2391 non-null   object
 10  seksi0               2391 non-null   object
 11  seksi1               2391 non-null   object
 12  yy                   2391 non-null   int64
 13  gg                   2391 non-null   int64
 14  i                    2391 non-null   int64
 15  false_tanggal        2391 non-null   object
 16  false_jam            2391 non-null   object
 17  false_waktu          8 non-null      object
 18  iihvv                2391 non-null   object
 19  nddff                2389 non-null   object
 20  wd                   2391 non-null   object
 21  ws                   2389 non-null   object
 22  Arah_angin           1967 non-null   float64
 23  Kecepatan_angin      1967 non-null   float64
 24  Gale                 1 non-null      float64
 25  seksi1_1             2391 non-null   object
 26  sandi1               2391 non-null   object
 27  sandi2               2391 non-null   object
 28  sandi3               2391 non-null   object
 29  sandi4               2390 non-null   object
 30  sandi5               1306 non-null   object
 31  sandi6               277 non-null    object
 32  sandi7               768 non-null    object
 33  sandi8               2376 non-null   object
 34  Temperatur           2390 non-null   float64
 35  Dew_Point            2377 non-null   float64
 36  Tekanan_Permukaan    2370 non-null   float64
 37  Tekanan_Laut         2375 non-null   float64
 38  Selisih_Tekanan      1232 non-null   float64
 39  Curah_Hujan          84 non-null     float64
 40  Heavy_Rain           5 non-null      float64
 41  ww                   768 non-null    object
 42  ww_interpretasi      768 non-null    object
 43  W1                   768 non-null    object
 44  W1_interpretasi      763 non-null    object
 45  W2                   768 non-null    object
 46  W2_interpretasi      763 non-null    object
 47  Nh                   2376 non-null   object
 48  CL                   2376 non-null   object
 49  CM                   2376 non-null   object
 50  CH                   2376 non-null   object
 51  seksi3               2387 non-null   object
 52  sn1                  174 non-null    object
 53  Tmax                 174 non-null    float64
 54  sn2                  181 non-null    object
 55  Tmin                 181 non-null    float64
 56  sandi53              180 non-null    object
 57  Evaporasi            169 non-null    float64
 58  sandi55              178 non-null    object
 59  Lama_Penyinaran      170 non-null    object
 60  sandi56              2387 non-null   object
 61  DL                   2387 non-null   object
 62  DM                   2387 non-null   object
 63  DH                   2387 non-null   object
 64  sandi57              1024 non-null   object
 65  Awan_Rendah          1024 non-null   object
 66  Arah_Sebenarnya      1024 non-null   object
 67  Elevasi              1024 non-null   object
 68  sandi58              141 non-null    object
 69  sandi59              213 non-null    object
 70  sandi63              337 non-null    object
 71  Curah_Hujan_Jam      252 non-null    float64
 72  sandi83              2374 non-null   object
 73  Nh3                  2374 non-null   object
 74  C_interpretasi       2372 non-null   object
 75  false_ir             1 non-null      object
 76  false_ix             0 non-null      object
 77  false_nddff          2 non-null      object
 78  false_sandi5         0 non-null      object
 79  false_sn1            0 non-null      object
 80  false_sn2            0 non-null      object
 81  false_sandi53        1 non-null      object
 82  false_sandi55        3 non-null      object
 83  false_sandi58_59     1 non-null      object
 84  NAME                 2391 non-null   object
 85  PROPINSI_NAME        2391 non-null   object
 86  LAT                  2391 non-null   float64
 87  LON                  2391 non-null   float64
 88  pulau                2391 non-null   object
 89  ELEV                 2381 non-null   float64
 90  REGION_DESC          2391 non-null   object
 91  KABUPATEN_NAME       2391 non-null   object
dtypes: datetime64[ns](1), float64(17), int64(3), object(71)
memory usage: 1.7+ MB

In [36]:
jumlah_salah = data['false_nddff'].astype(str).str.strip().ne("").sum()
print("Jumlah baris dengan kesalahan AAXX:", jumlah_salah)

Jumlah baris dengan kesalahan AAXX: 2466

In [29]:
# import sqlite3
# import pandas as pd

# # --- 1️⃣ Kolom utama dari df_final ---
# kolom_utama = [
#     "tanggal", "jam", "station_wmo_id", "NAME", "LAT", "LON",
#     "ELEV", "REGION_DESC", "sandi_gts", "sn2"
# ]

# # --- 2️⃣ Ambil kolom yang diawali 'false_' dari data (hasil parsing) ---
# kolom_false = [c for c in data.columns if c.startswith("false_")]

# # --- 3️⃣ Gabungkan semua kolom yang ingin disimpan ---
# kolom_simpan = kolom_utama + kolom_false

# # --- 4️⃣ Filter hanya baris yang punya kesalahan ---
# # Gunakan df_final tapi cek nilai 'false_' dari kolom di data
# mask_error = data[kolom_false].notna().any(axis=1)

# # Pastikan panjang df_final dan data sama (harus hasil merge sebaris)
# if len(df_final) == len(data):
#     data_error = df_final.loc[mask_error, kolom_simpan].copy()
# else:
#     print("⚠️ Panjang df_final dan data berbeda — pastikan hasil merge barisnya sejajar!")
#     # Jika perlu, bisa diubah menjadi join dengan index

# # --- 5️⃣ Tambahkan kolom daftar kesalahan ---
# data_error["Daftar_Kesalahan"] = data.loc[mask_error, kolom_false].apply(
#     lambda row: "; ".join([str(v) for v in row if pd.notna(v) and v != ""]),
#     axis=1
# )

# # --- 6️⃣ Simpan hanya baris yang error ke SQLite ---
# if len(data_error) > 0:
#     db_path = "data_suspect.db"
#     table_name = "data_suspect"

#     conn = sqlite3.connect(db_path)
#     data_error.to_sql(table_name, conn, index=False, if_exists="replace")
#     conn.close()

#     print(f"✅ Database '{db_path}' berhasil dibuat dengan tabel '{table_name}'.")
#     print(f"Jumlah baris data error tersimpan: {len(data_error)}")
# else:
#     print("🎉 Tidak ada data error. Database tidak dibuat.")

In [30]:
# kolom_utama = [
#     "tanggal", "jam", "station_wmo_id", "NAME", "LAT", "LON",
#     "ELEV", "REGION_DESC", "sandi_gts",'sn2'
# ]

# # Ambil semua kolom yang diawali 'false_'
# kolom_false = [c for c in data.columns if c.startswith("false_")]

# # Gabungkan semuanya
# kolom_simpan = kolom_utama + kolom_false

# # --- 2️⃣ Pilih baris yang punya nilai pada kolom 'false_' ---
# mask_error = df_final[kolom_false].notna().any(axis=1)
# data_error = df_final.loc[mask_error, kolom_simpan].copy()

# # --- 3️⃣ (Opsional) Tambahkan kolom gabungan pesan kesalahan ---
# data_error["Daftar_Kesalahan"] = data_error[kolom_false].apply(
#     lambda row: "; ".join([str(v) for v in row if pd.notna(v) and v != ""]),
#     axis=1
# )

# # --- 4️⃣ Simpan ke database SQLite ---
# db_path = "data_suspect.db"      # nama file database
# table_name = "data_suspect"      # nama tabel dalam database

# conn = sqlite3.connect(db_path)
# data_error.to_sql(table_name, conn, index=False, if_exists="replace")
# conn.close()

# print(f"Database '{db_path}' berhasil dibuat dengan tabel '{table_name}'.")
# print(f"Jumlah baris data error tersimpan: {len(data_error)}")

In [ ]:

# # asumsi: `data` = hasil parsing (memiliki kolom false_...)
# #         `df_final` = data gabungan (metadata + kolom dari data)
# # pastikan df_final dan data mempunyai jumlah baris yang sama dan sejajar.
# # kalau tidak yakin, lakukan df_final = df_final.reset_index(drop=True); data = data.reset_index(drop=True)

# # 0. (opsional) sinkronkan index agar baris sejajar
# df_final = df_final.reset_index(drop=True)
# data = data.reset_index(drop=True)

# # 1. kolom utama yang ingin disimpan (ambil hanya yang ada di df_final)
# # kolom_utama = [
# #     "tanggal", "jam", "station_wmo_id", "NAME", "LAT", "LON",
# #     "ELEV", "REGION_DESC", "sandi_gts", "sn2"
# # ]
# kolom_utama = [
#     "tanggal", "jam", "station_wmo_id", "NAME", "LAT", "LON",
#     "ELEV", "REGION_DESC", "sandi_gts","seksi0", "seksi1","seksi3","iihvv","yy","gg","sandi6","sandi63"
# ]
# kolom_utama = [c for c in kolom_utama if c in df_final.columns]

# # 2. ambil daftar kolom false_ dari data (pastikan hanya yang ada)
# kolom_false = [c for c in data.columns if c.startswith("false_")]

# # 3. buat mask: True kalau kolom false_ memiliki isi non-empty (bukan NaN dan bukan "")
# #    logika: untuk setiap kolom false_ -> (notna) AND (strip() != "")
# if len(kolom_false) == 0:
#     print("⚠️ Tidak ditemukan kolom yang diawali 'false_' di dataframe `data`.")
#     mask_error = pd.Series([False]*len(data), index=data.index)
# else:
#     mask_per_kol = []
#     for c in kolom_false:
#         s = data[c]
#         # convert to string for strip but keep check notna()
#         has_value = s.notna() & s.astype(str).str.strip().ne("")
#         mask_per_kol.append(has_value)
#     # gabungkan: baris error jika ada minimal satu kolom false_ yang berisi
#     mask_error = pd.concat(mask_per_kol, axis=1).any(axis=1)

# # 4. kolom akhir yang akan disimpan: gabungkan kolom_utama + kolom_false (yang ada di df_final/data)
# #    Untuk kolom_false, kita ambil dari df_final jika ada, else ambil dari data.
# kolom_simpan = list(kolom_utama)  # salin
# for c in kolom_false:
#     # preferensi: ambil kolom dari df_final kalau ada (agar metadata ikut),
#     # tapi biasanya false_ kolom ada di data; kita tambahkan kalau ada di salah satu
#     if c in df_final.columns and c not in kolom_simpan:
#         kolom_simpan.append(c)
#     elif c in data.columns and c not in kolom_simpan:
#         kolom_simpan.append(c)

# # 5. slice df_final berdasarkan mask_error (pastikan panjang sama karena reset_index di atas)
# data_error = df_final.loc[mask_error, kolom_simpan].copy()

# # 6. buat kolom Daftar_Kesalahan (gabungan isi kolom_false dari sumber 'data' supaya isi asli terpakai)
# if len(data_error) > 0 and len(kolom_false) > 0:
#     # ambil isi false_ dari `data` (bukan df_final) agar pesan asli terpakai
#     daftar = data.loc[mask_error, kolom_false].apply(
#         lambda row: "; ".join([str(v).strip() for v in row if pd.notna(v) and str(v).strip() != ""]),
#         axis=1
#     ).reset_index(drop=True)
#     # reset index supaya align dengan data_error
#     data_error = data_error.reset_index(drop=True)
#     data_error["Daftar_Kesalahan"] = daftar
# else:
#     data_error["Daftar_Kesalahan"] = ""

# # 7. simpan ke sqlite hanya jika ada baris error
# if len(data_error) > 0:
#     db_path = "data_suspect1.db"
#     table_name = "data_suspect"
#     conn = sqlite3.connect(db_path)
#     # gunakan if_exists='replace' atau 'append' sesuai kebutuhan
#     data_error.to_sql(table_name, conn, index=False, if_exists="replace")
#     conn.close()
#     print(f"✅ Disimpan {len(data_error)} baris error ke {db_path} table {table_name}")
# else:
#     print("🎉 Tidak ada baris error — tidak ada yang disimpan.")

✅ Disimpan 12 baris error ke data_suspect1.db table data_suspect

In [37]:
# asumsi: `df_final` = data gabungan (metadata + kolom false_...)

# 0. (opsional) sinkronkan index
df_final = df_final.reset_index(drop=True)

# 1. kolom utama yang ingin disimpan (ambil hanya yang ada di df_final)
kolom_utama = [
    "tanggal", "jam", "station_wmo_id", "NAME", "LAT", "LON",
    "ELEV", "REGION_DESC", "sandi_gts","seksi0", "seksi1","seksi3",
    "iihvv","yy","gg","sandi6","sandi63"
]
kolom_utama = [c for c in kolom_utama if c in df_final.columns]

# 2. ambil daftar kolom false_ dari df_final (pastikan hanya yang ada)
#    <-- PERUBAHAN: Mengambil dari df_final, bukan 'data'
kolom_false = [c for c in df_final.columns if c.startswith("false_")]

# 3. buat mask: True kalau kolom false_ memiliki isi non-empty (bukan NaN dan bukan "")
#    logika: untuk setiap kolom false_ -> (notna) AND (strip() != "")
if len(kolom_false) == 0:
    print("⚠️ Tidak ditemukan kolom yang diawali 'false_' di dataframe `df_final`.")
    # <-- PERUBAHAN: Menggunakan panjang df_final
    mask_error = pd.Series([False]*len(df_final), index=df_final.index)
else:
    mask_per_kol = []
    for c in kolom_false:
        # <-- PERUBAHAN: Mengambil dari df_final, bukan 'data'
        s = df_final[c]
        # convert to string for strip but keep check notna()
        has_value = s.notna() & s.astype(str).str.strip().ne("")
        mask_per_kol.append(has_value)
    # gabungkan: baris error jika ada minimal satu kolom false_ yang berisi
    mask_error = pd.concat(mask_per_kol, axis=1).any(axis=1)

# 4. kolom akhir yang akan disimpan: gabungkan kolom_utama + kolom_false
#    (Sekarang lebih sederhana karena semua kolom pasti ada di df_final)
kolom_simpan = list(kolom_utama)  # salin
for c in kolom_false:
    if c not in kolom_simpan:
        kolom_simpan.append(c)

# 5. slice df_final berdasarkan mask_error
data_error = df_final.loc[mask_error, kolom_simpan].copy()

# 6. buat kolom Daftar_Kesalahan (gabungan isi kolom_false dari df_final)
if len(data_error) > 0 and len(kolom_false) > 0:
    # <-- PERUBAHAN: Mengambil dari df_final, bukan 'data'
    #    Kita gunakan df_final.loc[mask_error] untuk mengambil baris yang sama
    #    yang baru saja kita masukkan ke data_error.
    daftar = df_final.loc[mask_error, kolom_false].apply(
        lambda row: "; ".join([str(v).strip() for v in row if pd.notna(v) and str(v).strip() != ""]),
        axis=1
    ).reset_index(drop=True)
    
    # reset index supaya align dengan data_error
    data_error = data_error.reset_index(drop=True)
    data_error["Daftar_Kesalahan"] = daftar
else:
    # Pastikan kolom ada meskipun tidak ada error, untuk konsistensi skema
    data_error["Daftar_Kesalahan"] = "" 

# 7. simpan ke sqlite hanya jika ada baris error
if len(data_error) > 0:
    db_path = "data_suspect1.db"
    table_name = "data_suspect"
    conn = sqlite3.connect(db_path)
    # gunakan if_exists='replace' atau 'append' sesuai kebutuhan
    data_error.to_sql(table_name, conn, index=False, if_exists="replace")
    conn.close()
    print(f"✅ Disimpan {len(data_error)} baris error ke {db_path} table {table_name}")
else:
    print("🎉 Tidak ada baris error — tidak ada yang disimpan.")

✅ Disimpan 12 baris error ke data_suspect1.db table data_suspect